
.black1{
    background-color: rgb(50, 49, 49);
    color: wheat;
    text-align: center;
    margin-left: 35%;
  
}
.bir{
    margin: auto;
    width: 50%;
    background-color: rgb(50, 49, 49);
    color: white;
   

}
.flex{
    margin-left: 35%;
    margin-bottom: 30px;
}
.ikki{
    margin: auto;
    background-color: rgb(50, 49, 49);
    color: white;
}
.umumiy{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}